{
	"TargetName": "UnrealPak",
	"Platform": "Linux",
	"Configuration": "Development",
	"TargetType": "Program",
	"Architecture": "x86_64-unknown-linux-gnu",
	"Project": "../../DemographicData.uproject",
	"Launch": "$(EngineDir)/Binaries/Linux/UnrealPak",
	"Version": 
	{
		"MajorVersion": 4,
		"MinorVersion": 25,
		"PatchVersion": 4,
		"Changelist": 0,
		"CompatibleChangelist": 13144385,
		"IsLicenseeVersion": 0,
		"IsPromotedBuild": 0,
		"BranchName": "++UE4+Release-4.25",
		"BuildId": "2ba3fd75-a39c-49ca-a93b-1a626f8665b7",
		"BuildVersion": ""
	},
	"BuildProducts": [
		{
			"Path": "$(EngineDir)/Binaries/Linux/UnrealPak",
			"Type": "Executable"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/UnrealPak.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/UnrealPak.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Plugins/Experimental/PlatformCrypto/Binaries/Linux/libUnrealPak-PlatformCrypto.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Plugins/Experimental/PlatformCrypto/Binaries/Linux/libUnrealPak-PlatformCrypto.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Plugins/Experimental/PlatformCrypto/Binaries/Linux/libUnrealPak-PlatformCrypto.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Plugins/Experimental/PlatformCrypto/Binaries/Linux/libUnrealPak-PlatformCryptoTypes.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Plugins/Experimental/PlatformCrypto/Binaries/Linux/libUnrealPak-PlatformCryptoTypes.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Plugins/Experimental/PlatformCrypto/Binaries/Linux/libUnrealPak-PlatformCryptoTypes.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Plugins/Experimental/PlatformCrypto/Binaries/Linux/libUnrealPak-PlatformCryptoOpenSSL.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Plugins/Experimental/PlatformCrypto/Binaries/Linux/libUnrealPak-PlatformCryptoOpenSSL.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Plugins/Experimental/PlatformCrypto/Binaries/Linux/libUnrealPak-PlatformCryptoOpenSSL.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealPak-BuildSettings.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealPak-BuildSettings.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealPak-BuildSettings.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealPak-TraceLog.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealPak-TraceLog.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealPak-TraceLog.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealPak-Core.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealPak-Core.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealPak-Core.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealPak-RSA.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealPak-RSA.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealPak-RSA.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealPak-PakFile.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealPak-PakFile.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealPak-PakFile.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealPak-Json.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealPak-Json.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealPak-Json.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealPak-Projects.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealPak-Projects.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealPak-Projects.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealPak-DerivedDataCache.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealPak-DerivedDataCache.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealPak-DerivedDataCache.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealPak-PakFileUtilities.so",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealPak-PakFileUtilities.sym",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/libUnrealPak-PakFileUtilities.debug",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/UnrealPak.version",
			"Type": "RequiredResource"
		},
		{
			"Path": "$(EngineDir)/Plugins/Experimental/PlatformCrypto/Binaries/Linux/UnrealPak.modules",
			"Type": "RequiredResource"
		},
		{
			"Path": "$(EngineDir)/Binaries/Linux/UnrealPak.modules",
			"Type": "RequiredResource"
		}
	],
	"RuntimeDependencies": [
		{
			"Path": "$(ProjectDir)/DemographicData.uproject",
			"Type": "UFS"
		},
		{
			"Path": "$(EngineDir)/Plugins/Experimental/PlatformCrypto/PlatformCrypto.uplugin",
			"Type": "UFS"
		}
	],
	"AdditionalProperties": [
		{
			"Name": "SDK",
			"Value": "Not Applicable"
		}
	]
}